<%# <h3>Delete my account</h3> %>

<%# <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %1></p> %>

<div class="mt-5">
  <header>
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Edit <%= resource_name.to_s.humanize %>
      </h1>
    </div>
  </header>

  <%= render "devise/shared/error_messages", resource: resource %>

  <main>
    <div class="px-4 pb-6 mx-auto mt-5 max-w-screen-xl sm:px-6 lg:pb-16 lg:px-8">
      <div class="overflow-hidden bg-white rounded-lg shadow">
        <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

          <%= render 'devise/shared/preferences' %>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name, section: @section),  html: { method: :put, class: "divide-y divide-gray-200 lg:col-span-9" }) do |f| %>
            <%= render @section, f: f %>
            <div class="flex justify-end px-4 py-4 mt-4 sm:px-6">
              <%= link_to 'Cancel', :back, class: "inline-flex justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
              <%= f.submit "Update", class: "inline-flex justify-center px-4 py-2 ml-5 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
